form {
    display: flex;
    flex-direction: column;
}

form .new-product-group {
    display: flex;
    flex-direction: row;
}

form .new-product-input {
    margin-right: 10px;
}

form .new-product-button {
    height: 40px;
}

form .subtitle {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}
