<mat-card>
    <mat-card-title>
        Novo cliente
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="client.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Celular" [ngModel]="client.phone | phoneNumber" (ngModelChange)="client.phone=$event" name="phone">
        </mat-form-field>
        <mat-form-field>
            <input maxlength="11" matInput placeholder="CPF" [ngModel]="client.cpf | CPF" (ngModelChange)="client.cpf=$event" name="cpf">
        </mat-form-field>
        <span class="subtitle">Endereço</span>
        <mat-form-field>
            <input matInput placeholder="CEP" [(ngModel)]="client.address!.postalCode" name="postalCode" (change)="onChangePostalCode()">
        </mat-form-field>
        <mat-form-field>
            <input matInput list="states" placeholder="Estado" [(ngModel)]="selectedState" name="state" (ngModelChange)="onChangeState()">
            <datalist id="states">
                <option *ngFor="let state of states" [value]="state.sigla">{{ state.nome }}</option>
              </datalist>
        </mat-form-field>
        <mat-form-field>
            <input matInput list="citys" placeholder="Cidade" [(ngModel)]="selectedCity" name="city">
            <datalist id="citys">
                <option *ngFor="let city of citys" [value]="city.nome">{{ city.id }}</option>
              </datalist>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Rua" [(ngModel)]="client.address!.street" name="street">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Complemento" [(ngModel)]="client.address!.complement" name="complement">
        </mat-form-field>
        <span class="subtitle">Produtos</span>
        <ul *ngIf="showListItens">
            <li *ngFor="let product of client.itens">
                {{ product.name }} - {{ product.price | currency }}
                <span class="product-item-remove" (click)="removeProduct(product.code)">(remover produto)</span>
            </li>
        </ul>
        <div class="new-product-group">
            <mat-form-field class="new-product-input">
                <input matInput placeholder="Nome do produto" [(ngModel)]="newItens.name" name="productName">
            </mat-form-field>
            <mat-form-field  class="new-product-input">
                <input matInput placeholder="Valor do produto" [(ngModel)]="newItens.price" name="productPrice">
            </mat-form-field>
            <button class="new-product-button" mat-stroked-button (click)="addProduct()" color="secundary">Adicionar produto</button>
        </div>
    </form>
    <button class="button" mat-raised-button (click)="createClient()" color="primary">Criar cliente</button>
    <button class="button" mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>


